.cell {
    height: 30px;
    width: 30px;
    border: 0.25px solid black;
    color: red;
    text-align: center;
}

#frame {
    border: 3px solid black;
}

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#hint {
    display: flex;
}

p {
    display: inline-block;
    padding-left: 10px;
}